.SecondSection {
  background-color: rgba(1, 3, 5, 1);
  color: white;

  .cardContainer {
    max-width: 350px;

    @media (min-width: $mantine-breakpoint-sm) {
      max-width: 1000px;
    }
  }
}

.blueText {
  color: rgba(0, 93, 169, 1);
}

.boldText {
  font-weight: 700;
}
