.UploadSection {
  position: relative;
  background: url(/bg-image.jpg) no-repeat center center / cover;
  width: 100%;
  height: 100vh;
  z-index: 0;
  text-align: center;

  @media (min-width: $mantine-breakpoint-sm) {
    background-position: center 30%;
    background-size: 100% auto;
  }

  @media (min-width: $mantine-breakpoint-md) {
    text-align: left;
  }
}

.UploadSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 7, 18, 0.85) 40%, rgba(0, 0, 0, 1) 90%);
  z-index: -1;
  pointer-events: none;
}

.ImagesPosition {
  @media (max-width: $mantine-breakpoint-md) {
    justify-content: center;
  }
}

.TextWidth {
  @media (min-width: $mantine-breakpoint-sm) {
    max-width: 650px;
  }

  @media (min-width: $mantine-breakpoint-md) {
    max-width: 600px;
  }

  @media (min-width: $mantine-breakpoint-lg) {
    max-width: 625px;
  }
}
