.NavLink {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 100%;

  &[data-active] {
    color: var(--mantine-primary-color-filled);
    border-color: var(--mantine-primary-color-filled);
  }
}
